<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TakeCare</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TakeCare.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/png" href="~/TakeCare.png" />
</head>

<body>
<header>
    <!-- Barra de Navegação -->
    <nav class="navbar navbar-expand-sm navbar-light border-bottom box-shadow mb-3"
        style="background: linear-gradient(to right, #98E8CB, #94B9FF);">
        <div class="container-fluid">
            <!-- Logo -->
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/TakeCare.png" alt="Take Care" style="height: 40px;" />
            </a>

            <!-- Menu de Navegação -->
            <ul class="navbar-nav d-flex flex-wrap justify-content-start w-100">
                <li class="nav-item">
                    <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Take Care</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Privacy">Serviços</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Privacy">Contato</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Privacy">Áreas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Privacy">Logar</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

    <!-- Conteúdo Principal -->
    <div class="container">
        <main role="main" class="pb-3" style="width: 100%;">
            @RenderBody()
        </main>
    </div>

    <!-- Rodapé -->
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - TakeCare - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>