@{
    ViewData["Title"] = "Take Care";
}

<main>
    <section class="introducao">
        <h1>Take Care</h1>
        <hr class="min">
        <h2>Cuidando de você</h2>
    </section>

    <section class="inicio">
        <img src="~/TakeCare.png" alt="" class="imgInicio">
        <hr class="hrInicio">
        <div class="divInicio">
            <h2 >Sobre nós</h2>
            <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolores fuga temporibus quae neque veritatis enim rerum eum aut nam dignissimos perspiciatis itaque aperiam mollitia delectus eligendi culpa, provident tenetur!</p>
        </div>
    </section>

    <section class="servicos">
        <h2>Nossos serviços</h2>
        <div class="servicoPrincipal">
            <div class="servico1">
                <h3>Nutricional</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quos voluptatibus sed dolorem. Earum suscipit nam deleniti ea a corrupti ullam accusantium labore quasi maxime magni, quam tenetur dolores maiores!</p>
            </div>
            <div class="servico2">
                <h3>Psicologico</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam labore enim delectus alias? Quia nihil sunt provident nesciunt rerum temporibus non accusantium dolor dolores, laudantium similique officiis, sit qui incidunt?</p>
            </div>
            <div class="servico3">
                <h3>Físico</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit laudantium laboriosam vero iure beatae numquam quaerat dolorem officia voluptas molestiae magni aliquam, facilis vitae illum aliquid quibusdam optio distinctio nesciunt.</p>
            </div>
            <div class="servico4">
                <h3>Financeiro</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore nobis odio dolorum quo, repudiandae itaque sapiente qui consequuntur enim maiores, in blanditiis facere minus soluta reprehenderit vero! Cupiditate, nulla eveniet?</p>
            </div>
        </div>
    </section>


</main>
