<div class="pagina">
    <div class="login">
        <h1 class="titulo">Login</h1>
        <label for="nome">Usuario</label>
        <input type="text" name="nome" id="nome">
        <label for="senha">Senha</label>
        <input type="password" name="senha" id="senha">
        <br>
        <input type="submit" value="Enviar">
    </div>
</div>